<?xml version="1.0" encoding="utf-8"?>
<diagnosticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="11.0.6700.0">
	<tools>
		<add version="11.0.6700.0" dependsOnRootOperation="True" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="DataAccessProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="HttpRequestsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="HttpHeadersProfiler" config:flags="1" />
		<add version="11.0.6700.0" skipSelectedTaskTypes="" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="BackgroundTasksProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="PageCompilationsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="RazorViewCompilationsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="WidgetExecutionsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="SystemOperationsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="SiteInitializationsProfiler" config:flags="1" />
		<add version="11.0.6700.0" errorMessage="The configured connection string SitefinityDiagnosticsModule does not exist in the DataConfig." name="InsightsEngine" config:flags="1" />
	</tools>
</diagnosticsConfig>